*{
	box-sizing: border-box;
}

@import 'import/varibles';

@import 'import/general';

@import 'import/header';

@mixin space{
	width: 94.4%;
	margin: 0 auto;
	padding: 10% 0;
	text-align: center;
}

.breadcrumbs{
	width: 94.4%;
	margin: 0.5% auto;
	& a{
		text-decoration: none;
		color: $firmGreyColor;
		font-family: $logoFont;
		font-size: 0.6em;
		&::after{
			content:'/';
			margin: 0.5em;
		}
		&:hover{
			color: blue;
		}
	}
	& span{
		color: $firmGreyColor;
		font-family: $logoFont;
		font-size: 0.6em;
	}
}

.big_item_block {
	width: 94.4%;
	margin: 3% auto;
	position: relative;
	&__IMG{
		width: 100%;
		padding: 25% 0;
		background-color: #fafafa;
		border: 1px solid #ddd;
	}
	&__galery{
		width: 5%;
		position: absolute;
		right: 1%;
		bottom: 1.5%;
		&_image{
			display: block;
			width: 100%;
			padding: 50% 0;
			margin-bottom: 20%;
			background-color: #f7f7f7;
			border: 1px solid #ddd;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.item_descrition{
	@include space;
	padding: 0.5% 0;
	& h3{
		color: $regTextColor;
		font-family: $logoFont;
		font-size: 2.25em;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 0.2em;
	}
	& span{
		color: #a3a3a3;
		font-family: $logoFont;
		font-style: italic;
	}
	& .price{
		display: block;
		margin-top: 1.5em;
		color: $firmGreyColor;
		font-family: $descrFont;
		font-size: 1.2em;
		font-style: italic;
		text-transform: uppercase;
	}
	& b{
		display: block;
		padding: 0 27%;
		margin-top: 1.5em;
		color: $firmGreyColor;
		font-weight: 400;
		font-family: $logoFont;
		font-size: 0.8em;
	}
	& h4{
		color: $firmGreyColor;
		font-family: $logoFont;
		font-size: 0.8em;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 4%;
	}
	&_size{
		width: 15%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		&_block{
			border: 1px solid #959595;
			box-shadow: inset -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
			width: 15%;
			& span{
				color: #464542;
				font-family: $logoFont;
				font-size: 0.8em;
			}
		}
	}
	& button{
		color: $pageBack;
		background-color: $orangeColor;
		border: 1px solid $orangeColor;
		width: 13.5%;
		padding: 1% 0;
		margin-top: 4.5%;
		font-size: 0.8em;
		font-family: $logoFont;
	}
}

.check_look{
	width: 94.4%;
	margin: 5% auto 1%;
	padding: 3% 0;
	text-align: center;
	border-top: 1px solid rgba(96,96,96,0.1);
	& h3{
		color: $firmGreyColor;
		font-family: $descrFont;
		font-size: 1.5em;
		font-style: italic;
	}
}

.show_me_more{
	display: block;
	text-decoration: none;
	width: 94.4%;
	margin: 5% auto 0;
	padding: 1% 0;
	background-color: #f1f1f1;
	& span{
		color: $firmGreyColor;
		font-family: $logoFont;
		font-size: 0.8em;
		text-transform: uppercase;
	}
}

@import 'import/slider';

@import 'import/footer';

@import 'import/responsive';
