.footer{
	width: 94.4%;
	margin: 7% auto;
	display: flex;
	justify-content: space-between;
	text-align: left;
	&_blocks{
		border-left: 1px solid rgba(96,96,96,0.1);
		padding-left: 1em;
		margin-left: 10%;
		&:first-child{
			border-left: none;
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		& h6{
			margin-top: 0;
			color: $regTextColor;
			font-family: $logoFont;
			font-weight: 700;
			text-transform: uppercase;
		}
		& ul{
			list-style: none;
			padding: 0;
			& li{
				margin-bottom: 10%;
				& a{
					text-decoration: none;
					color: $regTextColor;
					font-family: $logoFont;
					font-size: 0.8em;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		& p{
			text-decoration: none;
			color: $regTextColor;
			font-family: $logoFont;
			font-size: 0.8em;
		}
		&_social{
			margin-top: 10%;
			& a{
				display: inline-block;
				vertical-align: top;
				margin-right: 10%;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}