@media screen and(max-width: 1077px) {
	a.pacskhot_checkNews{
		width: 22.61%;
	}
	.blocks__threeOfKind_tweet{
		padding: 22.5% 15%;
	}
	.blocks__threeOfKind_empty{
		padding: 53.5% 0;
	}
}

@media screen and(max-width: 950px) {
	.blocks__bigAndSmall,
	.blocks__threeOfKind,
	.blocks__smallAndBig{
		width: 50%;
	}
	
	.blocks__threeOfKind_empty{
		padding: 53%;
	}

	.blocks__bigAndSmall_small{
		padding: 32.5%;
	}
	.item_descrition_size{
		width: 30%;
	}
	
}


@media screen and(max-width: 900px) {
	a.packshot_checkNews{
		width: 25.61%;
	}
	.item_descrition button{
		width: 23.5%;
	}
}
@media screen and(max-width: 760px) {
	a.packshot_checkNews{
		width: 30.61%;
	}
}

@media screen and(max-width: 680px) {
	input.signUp_form_input{
		display: block;
		margin: 0 auto 2%;
	}
	button.signUp_form_button{
		width: 10%;
	}
}

@media screen and(max-width: 637px) {
	a.packshot_checkNews{
		width: 40.61%;
	}
	h1.packshot_slogan{
		font-size: 4em;
	}
	h3.packshot_description{
		font-size: 1em;
	}

}
@media screen and(max-width: 600px) {
	.blocks__bigAndSmall,
	.blocks__threeOfKind,
	.blocks__smallAndBig{
		width: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin-bottom: 0;
	}
	.blocks__threeOfKind_empty,
	.blocks__bigAndSmall_small{
		display: none;
	}
	input.signUp_form_input{
		width: 80%;
	}
	.footer{
		display: block;
		text-align: center;
	}
	.footer_blocks{
		display: inline-block;
		vertical-align: top;
	}
	.footer_blocks.soc{
		width: 70%;
		text-align: center;
		margin-top: 5%;
		border-left: none;
	}
}

@media screen and(max-width: 560px) {
	.items_block{
		display: block;
		text-align: center;
	}
	.items_block_item{
		display: inline-block;
		width: 40%;
		margin-right: 10%;
		margin-bottom: 5%;
	}
	.items_block_item:nth-child(2n+2){
		margin-right: 0;
	}
}

@media screen and(max-width: 510px) {
	a.packhot_checkNews{
		width: 50.61%;
	}
	.item_descrition button{
		width: 33.5%;
	}
}
@media screen and(max-width: 475px) {
	.footer_blocks{
		width: 70%;
		text-align: center;
		border-left: none;
		margin: 5% auto 0;
	}
	.footer_blocks ul li{
		display: inline;
		margin-right: 2%;
	}
	.item_descrition_size{
		width: 40%;
	}
	.item_descrition b{
		padding: 0 10%;
	}


}
@media screen and(max-width: 400px) {
	.packshot{
		padding: 10% 5%;
	}
	a.packshot_checkNews{
		width: 80.61%;
	}
	h1.packshot_slogan{
		font-size: 3em;
	}
	h3.packshot_description{
		font-size: 1em;
	}
	.footer_blocks.colect{
		display: none;
	}
	.item_descrition_size{
		width: 50%;
	}
}
