doctype html
html(lang="en")
	head
		include jade/head.jade
		//- CSS for this page
		//- This is CATEGORY page
		link(rel="stylesheet" href="assets/category.css").
	body
		.page_wrapper
			//- page variables
			- var login = true
			- var chosedItems = 4
			- var search = true
			
			//- header here
			include jade/header.jade
			.breadcrumbs
				a(href="index.html") HOME
				span MEN

			mixin item_show(heading)
				.show_block
					h2= heading
					a(href="#") show more

			mixin items_block
				.items_block
					- for (var i = 1; i <= 4; i++){
						.items_block_item
							a.image_box(href="details.html")
							h5 Double-Layered Top
							span € 89,95
					- }

			+item_show('Coats')
			+items_block
			+item_show('Outerwear')
			+items_block
			+item_show('T-Shirts')
			+items_block

			.check_look
				h3 Check our lookbook
			include jade/slider.jade
			//- footer here
			include jade/footer.jade

			
