doctype html
html(lang="en")
	head
		include jade/head.jade
		//- CSS for this page
		//- This is CATEGORY page
		link(rel="stylesheet" href="assets/details.css").
	body
		.page_wrapper
			//- page variables
			- var login = false
			- var chosedItems = 0
			- var search = false
			
			//- header here
			include jade/header.jade
			.breadcrumbs
				a(href="index.html") HOME
				a(href="category.html") MEN
				a(href="#") SHOES
				span FLORAL PLIMSOLL
			.big_item_block
				.big_item_block__IMG
				.big_item_block__galery
					a.big_item_block__galery_image(href="#")
					a.big_item_block__galery_image(href="#")
					a.big_item_block__galery_image(href="#")
			.item_descrition
				h3 floral plimsoll
				span Article number: 14210160762
				span.price € 99,95
				b Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. 
				h4 size
				.item_descrition_size
					- var size = 42
					- for (var i = 38; i <= size; i++){
							.item_descrition_size_block
								span= i
					- }
				button ADD TO CART
				.check_look
					h3 You may also like

				include jade/slider.jade

				a.show_me_more(href="#")
					span Show me more related clothes

				//- footer here
				include jade/footer.jade
				
