doctype html
html(lang="en")
	head
		include jade/head.jade
		//- CSS for this page
		//- This is MAIN page
		link(rel="stylesheet" href="assets/style.css").
	body
		.page_wrapper
			//- page variables
			- var login = false
			- var chosedItems = 0
			- var search = false
			
			//- header here
			include jade/header.jade


			.packshot
				h1.packshot_slogan Hazy Shade of spring
				h3.packshot_description Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo.
				a.packshot_checkNews(href="#") check new arrivals

			.blocks
				.blocks__bigAndSmall
					a.blocks__bigAndSmall_big(href="#")
						h4 HETATHER GREY BASICS
						span NEW ARRIVAL
					.blocks__bigAndSmall_small
				.blocks__threeOfKind
					.blocks__threeOfKind_tweet
						p Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement
						span @PuspitaMarthaID 
					a.blocks__threeOfKind_item(href="#")
						h4 chuck taylors
						span $125.00
					a.blocks__threeOfKind_descr(href="#")
						h4.arrow Jaxon Hat
						span Beanie Hat
				.blocks__threeOfKind
					.blocks__threeOfKind_empty
					.blocks__threeOfKind_tweet.little
						p Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar
						span @Vogue
					a.blocks__threeOfKind_item(href="#")
						h4 Basic Blazer
						span $199.00
				.blocks__smallAndBig
					a.blocks_smallAndBig_small(href="#")
						h4.arrow Elegant Shoes
						span Braided Leather
					a.blocks_smallAndBig_big(href="#")
						h4 Jeans For Adventure
						span New Arrival

			.signUp
				h2.signUp_slogan Sign Up To Recieve Our Updates
				h3.signUp_description Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
				.signUp_form
					input.signUp_form_input(type="mail" placeholder="your e-mail")
					button.signUp_form_button add

			include jade/slider.jade
			//- footer here
			include jade/footer.jade



			


	