.footer
	.footer_blocks.colect
		h6 Collection
		ul
			li: a(href="#") Woman(1725)
			li: a(href="#") Men(635)
			li: a(href="#") Kids(2514)
			li: a(href="#") Comming Soon(76)
	.footer_blocks
		h6 Site
		ul
			li: a(href="#") Terms of Service
			li: a(href="#") Privat Policy
			li: a(href="#") Copyryight Policy
			li: a(href="#") Press Kit
			li: a(href="#") Support
	.footer_blocks
		h6 Shop
		ul
			li: a(href="#") About Us
			li: a(href="#") Shipping Methods
			li: a(href="#") Career
			li: a(href="#") Contact
	.footer_blocks.soc
		h6 Social
		p Shoper is made with love in Warsaw, 
		p 2014 © All rights reserved. El Passion
		.footer_blocks_social.soc
			a(href="#") <img src="images/twitr.png" alt="soc">
			a(href="#") <img src="images/fb.png" alt="soc">
			a(href="#") <img src="images/inst.png" alt="soc">
